<!doctype html>
<html class="psg-theme" lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= projectName %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
  <link rel="stylesheet" href="css/dist/belmu.css" />
  <style><%- codeStyle %><%- tmplStyle %></style>
  <style type="riot"></style>
</head>
<body>  
  <div class="wrapper -p-x-2 -p-top-2">
    <nav class="nav -fixed -bottom-0 -left-0 -w-100">
      <ul class="flex">       
        <li class="item">
          <a onclick="showModule(event, 'base')">Base</a>
        </li>
        <li class="item">
          <a onclick="showModule(event, 'engine')">Engine</a>
        </li>
        <li class="item">
          <a onclick="showModule(event, 'layout')">Layout</a>
        </li>
        <li class="item">
          <a onclick="showModule(event, 'module')">Module</a>
        </li>
        <li class="item">
          <a onclick="showModule(event, 'utility')">Utility</a>
        </li>
      </ul>
    </nav>
    <div class="logo-container">
      <!-- Start of big ol ugly SVG -->
      <?xml version="1.0" encoding="UTF-8"?>
        <svg width="72px" height="83px" viewBox="0 0 72 83" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="belmu-logo">
            <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
            <title>belmu</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="belmu">
                    <g id="Group-25-Copy-14" transform="translate(35.000000, 28.500000) scale(-1, 1) translate(-35.000000, -28.500000) translate(4.000000, 0.000000)">
                        <path d="M5.92178264,48.2135107 C21.0945227,47.4876481 35.3627103,42.7639779 47.9401373,34.9406199 C43.8431394,15.8169451 31.1565976,0.543738606 14.8172491,-5.23954921 C19.6689399,0.799409412 22.6303521,8.85209755 22.6303521,17.6949161 C22.6303521,31.1107135 15.814025,42.7078559 5.92177921,48.2135114 L5.92178264,48.2135107 Z" id="Combined-Shape-Copy-12" fill="#88D1E2" opacity="0.761039402" style="mix-blend-mode: multiply;" transform="translate(26.930958, 21.486981) rotate(-270.000000) translate(-26.930958, -21.486981) "></path>
                        <path d="M12.9848273,-5.27343287 C28.3288509,-4.62175549 42.7580797,0.117969887 55.4622898,8.0201889 C51.3266785,27.3241002 38.4388513,42.7046214 21.8764479,48.3613431 C26.8924319,42.3210322 29.9669687,34.1781534 29.9669687,25.2196631 C29.9669687,11.7581453 23.0247529,0.138254621 12.9848273,-5.27343287 L12.9848273,-5.27343287 Z" id="Combined-Shape-Copy-16" fill="#FD7795" opacity="0.8046875" style="mix-blend-mode: multiply;" transform="translate(34.223559, 21.543955) rotate(-270.000000) translate(-34.223559, -21.543955) "></path>
                        <g id="Group-23-Copy-3" transform="translate(30.500000, 35.378238) scale(1, -1) translate(-30.500000, -35.378238) translate(0.000000, 13.878238)">
                            <path d="M5.74897811,48.1056115 C20.9217181,47.3797489 35.1899058,42.6560787 47.7673328,34.8327207 C43.6703348,15.7090458 30.983793,0.435839389 14.6444446,-5.34744843 C19.4961353,0.691510195 22.4575476,8.74419833 22.4575476,17.5870169 C22.4575476,31.0028143 15.6412205,42.5999567 5.74897467,48.1056122 L5.74897811,48.1056115 Z" id="Combined-Shape-Copy-7" fill="#88D1E2" opacity="0.585258152" style="mix-blend-mode: multiply;" transform="translate(26.758154, 21.379082) rotate(-270.000000) translate(-26.758154, -21.379082) "></path>
                            <path d="M12.6392183,-5.26589472 C27.9832418,-4.61421733 42.4124707,0.125508042 55.1166807,8.02772705 C50.9810694,27.3316383 38.0932422,42.7121596 21.5308389,48.3688812 C26.5468228,42.3285703 29.6213596,34.1856915 29.6213596,25.2272013 C29.6213596,11.7656834 22.6791438,0.145792776 12.6392183,-5.26589472 L12.6392183,-5.26589472 Z" id="Combined-Shape-Copy-8" fill="#FD7795" opacity="0.374603714" style="mix-blend-mode: multiply;" transform="translate(33.877949, 21.551493) rotate(-270.000000) translate(-33.877949, -21.551493) "></path>
                        </g>
                    </g>
                    <path d="M7.367396,74.6923345 C9.86826892,75.0477697 11.1812272,76.6158659 11.1812272,78.4975813 C11.1812272,80.7556398 9.2638913,82.1355645 6.59629352,82.1355645 L1.24025734,82.1355645 C1.03185126,82.1355645 0.906807616,82.0101168 0.906807616,81.7801293 L0.906807616,67.8554351 C0.906807616,67.6254477 1.03185126,67.5 1.24025734,67.5 L5.88771285,67.5 C8.36774517,67.5 10.4309653,68.7126611 10.4309653,71.0961673 C10.4309653,72.7269873 9.45145677,74.1696358 7.367396,74.6923345 Z M5.88771285,68.4408577 L1.99051922,68.4408577 L1.99051922,74.3159915 L5.03324794,74.3159915 C8.05513605,74.3159915 9.30557252,72.8106191 9.30557252,71.1588911 C9.30557252,69.2980836 7.70084572,68.4408577 5.88771285,68.4408577 Z M6.59629352,81.1947068 C8.59699185,81.1947068 10.0558344,80.1702172 10.0558344,78.4557654 C10.0558344,76.7204056 8.53447003,75.2150333 5.53342252,75.2150333 L1.99051922,75.2150333 L1.99051922,81.1947068 L6.59629352,81.1947068 Z M23.775405,68.4408577 C24.0046517,68.4408577 24.1296953,68.31541 24.1296953,68.0854226 L24.1296953,67.8554351 C24.1296953,67.6254477 24.0046517,67.5 23.775405,67.5 L15.6058868,67.5 C15.3974807,67.5 15.2724371,67.6254477 15.2724371,67.8554351 L15.2724371,81.7801293 C15.2724371,82.0101168 15.3974807,82.1355645 15.6058868,82.1355645 L23.775405,82.1355645 C24.0046517,82.1355645 24.1296953,82.0101168 24.1296953,81.7801293 L24.1296953,81.5501419 C24.1296953,81.3201545 24.0046517,81.1947068 23.775405,81.1947068 L16.3561487,81.1947068 L16.3561487,75.4450207 L22.7958964,75.4450207 C23.0251431,75.4450207 23.1501868,75.319573 23.1501868,75.0895856 L23.1501868,74.8595981 C23.1501868,74.6296107 23.0251431,74.504163 22.7958964,74.504163 L16.3561487,74.504163 L16.3561487,68.4408577 L23.775405,68.4408577 Z M28.6168767,82.1355645 L36.0361331,82.1355645 C36.2445391,82.1355645 36.3695828,82.0101168 36.3695828,81.7801293 L36.3695828,81.5501419 C36.3695828,81.3201545 36.2445391,81.1947068 36.0361331,81.1947068 L29.3671386,81.1947068 L29.3671386,67.8554351 C29.3671386,67.6254477 29.2212544,67.5 29.0128483,67.5 L28.6168767,67.5 C28.4084707,67.5 28.283427,67.6254477 28.283427,67.8554351 L28.283427,81.7801293 C28.283427,82.0101168 28.4084707,82.1355645 28.6168767,82.1355645 Z M39.377081,82.1355645 L39.7938932,82.1355645 C40.0022993,82.1355645 40.1690241,82.0101168 40.1690241,81.8010373 L41.3152576,69.0262803 L46.9630622,81.6964975 C47.0255841,81.8637611 47.1714683,81.9473929 47.3590338,81.9473929 L47.7550053,81.9473929 C47.9425708,81.9473929 48.0884551,81.8637611 48.1509769,81.6964975 L53.7987816,69.0262803 L54.945015,81.8010373 C54.9658556,82.0101168 55.1117398,82.1355645 55.3201459,82.1355645 L55.7369581,82.1355645 C55.9662048,82.1355645 56.0912484,82.0101168 56.0704078,81.7801293 L54.7991307,67.8345272 C54.7782901,67.6254477 54.6324059,67.5 54.4239998,67.5 L53.6737379,67.5 C53.4861724,67.5 53.3402882,67.5836318 53.2777664,67.7508954 L47.5674399,80.5674683 L41.8571134,67.7508954 C41.7737509,67.5836318 41.6487073,67.5 41.4611418,67.5 L40.7108799,67.5 C40.5024739,67.5 40.3565896,67.6254477 40.335749,67.8345272 L39.0644719,81.7801293 C39.0436313,82.0101168 39.168675,82.1355645 39.377081,82.1355645 Z M66.1011908,82.3655519 C69.123079,82.3655519 71.7073143,80.5047444 71.7073143,76.8458533 L71.7073143,67.8554351 C71.7073143,67.6254477 71.5614301,67.5 71.353024,67.5 L70.9570524,67.5 C70.7486464,67.5 70.6236027,67.6254477 70.6236027,67.8554351 L70.6236027,76.8458533 C70.6236027,79.877506 68.5395419,81.3619704 66.1011908,81.3619704 C63.6628397,81.3619704 61.578779,79.877506 61.578779,76.8458533 L61.578779,67.8554351 C61.578779,67.6254477 61.4537353,67.5 61.2453293,67.5 L60.8285171,67.5 C60.620111,67.5 60.4950674,67.6254477 60.4950674,67.8554351 L60.4950674,76.8458533 C60.4950674,80.5047444 63.0584621,82.3655519 66.1011908,82.3655519 Z" id="BELMU-Copy-16" fill="#636B8C"></path>
                </g>
            </g>
        </svg>
      <!-- end of SVG -->
    </div>
    <div class="main"> 
      <p class="-m-auto -w-40 -m-top-2 -lightweight -lineheight-1-4">B.E.L.M.U (Base, Engine, Layout, Module, Utility) is a an organizational method for writing CSS, together with some layout helpers for grid and flexbox &amp; a collection of utility classes. Think tachyons CSS with a faster learning curve (simply because there's not as much to learn) </p>
      <% maps.forEach(function (map) { %>
        <% if(map.link.title.indexOf('Base') !== -1){ %>
          <styleguide-module id="base">
            <% if (!showCode) { %> 
              <%- map.html %>
            <% } %>

            <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
              <section>
                <h2 id="color-palette" class="psg-h2 -lightweight">Base Colours</h2>
                <p class="small">You can use background prefixing bg-your-colour-name</p>
                <div class="contents">
                  <div class="colours flex">
                    <% colorPalette.forEach(function (palette) { %>
                    <div class="item colourbox" onclick="copyToClipboard('<%= palette.name %>')">
                      <div class="colourbox-sample" style="background-color: <%= palette.color %>">
                      </div>
                      <div class="colourbox-name" id="<%= palette.name %>">
                        <%= palette.name %>
                      </div>
                    </div>
                    <% }) %>
                  </div>
                </div>
              </section>
            <% } %>
          </styleguide-module>
        <% } else if(map.link.title.indexOf('Layout') !== -1){ %>
          <styleguide-module id="layout">
            <% if (!showCode) { %> 
              <%- map.html %>
            <% } %>
          </styleguide-module>
        <% } else if(map.link.title.indexOf('Module') !== -1){ %>
          <styleguide-module id="module">
            <% if (!showCode) { %> 
              <%- map.html %>
            <% } %>
          </styleguide-module>
        <% } else if(map.link.title.indexOf('Engine') !== -1){ %>
          <styleguide-module id="engine">
            <% if (!showCode) { %> 
              <%- map.html %>
            <% } %>
          </styleguide-module>
        <% } else if(map.link.title.indexOf('Utility') !== -1){ %>
          <styleguide-module id="utility">
            <% if (!showCode) { %> 
              <%- map.html %>
            <% } %>
          </styleguide-module>
        <% } %>
      <% }) %>
        
     
    
    </div>
  </div>


    
<script src="components/styleguide-module.tag" type="riot/tag"></script>
<script src="riot-3-6-1.min.js"></script>


<script>
  var sharedObservable = riot.observable();
  riot.mount('styleguide-module', {
    state: 'resting',
    observable: sharedObservable
    }
  );

  function showModule(e, target){
    sharedObservable.trigger('showComponent', target);
    console.log(e);
    e.preventDefault();
    return false;
  }
</script>
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3002/browser-sync/browser-sync-client.js?v=2.18.13'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>
